<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Atelier 2.4 Luc - vue app REST API</title>
        <!-- -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <!-- -->
        <style>
        @import url(https://fonts.googleapis.com/css?family=Cookie);

        /* Hide un-compiled mustache bindings
        until the Vue instance is ready */
        [v-cloak] {   display: none;
        }


        </style>

    </head>

    <body>

        <div id="corpsAPI" class="container">
            
            
                <pre v-if="apiLoaded">{{colleges[0]}}</pre> 



            <div>
                <div>
                    <h1>COLLEGES de LOIRE-ATLANTIQUE</h1>
                </div>
                <div>
                    <template v-for="branch in branches">
                        <input type="radio"
                        :id="branch"
                        :value="branch"
                        name="branch"
                        v-model="currentBranch">
                        <label :for="branch">{{ branch }}</label>
                    </template>                    
                </div>
                <div v-bind:class="classTable">
                    <p>Type de Collèges <strong>{{ currentBranch }} </strong></p>      
                </div>
                <p>----------</p>
            </div>

            <div class="row">
            <!-- utilisation des données réponses de l'API à partir de college.fields -->

                <div v-if="apiLoaded" v-for="college in colleges" class="card col-sm-6 col-md-4 col-lg-3 mx-1 my-1" v-bind:class="classTable" >
                    <div class="card-header bg-light">
                        <p>Ville de {{college.fields.acheminement}}</p>
                        <p>({{college.fields.code_postal}})</p>
                    </div>
                    <div class="card-body">
                        <mark>{{college.fields.etab_scolaire_nom}}</mark>
                        <p>Etb {{college.fields.etab_scolaire_public}} ({{college.fields.etab_scolaire_uai}})</p>
                        <p>Adr : {{college.fields.serv_spec }}</p>
                        <p>{{college.fields.numero}}  {{college.fields.libelle}} {{college.fields.nom_voie}}</p>


                    </div> 
                    <div class="card-footer bg-secondary text-white">
                        <!-- ?? ici faire appel API pour récupérer et intégrer carte correspondante à ces coordonnées ??-->
                        <p>Longitude : {{college.fields.longitude }}</p>
                        <p>Latitude : {{college.fields.latitude }}</p>
                    </div>
                </div>

            <!-- fin utilisation des données -->
            </div>
        </div>


        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script>
            
            var apiURLpublic = "https://data.loire-atlantique.fr/api/records/1.0/search/?dataset=224400028_colleges-publics-en-loire-atlantique&q=&sort=etab_scolaire_uai&facet=acheminement";
            var apiURLprive = "https://data.loire-atlantique.fr/api/records/1.0/search/?dataset=224400028_colleges-prives-en-loire-atlantique&q=&sort=etab_scolaire_uai&facet=acheminement";

            var vueAPI = new Vue({
                el: '#corpsAPI',

                data: {
                    branches: ['public', 'prive'],
		            currentBranch: 'public',
                    colleges: null,
                    apiLoaded: false
                },

                created: function () {
                    this.fetchData()
                },

                watch: {
                    currentBranch: 'fetchData'
                },

                computed: {
                    classTable: function () {
                        var classeT = "";
                        if (this.currentBranch == 'public') {
                            classeT = 'bg-info';
                        } else {
                            classeT = 'bg-warning';
                        };
                        return classeT
                    }

                },

                methods: {
                    fetchData: function () {
                        var apiURL = "";
                        var self = this;
                        if (self.currentBranch == "public") {
                            apiURL = apiURLpublic;
                        } else {
                            apiURL = apiURLprive;
                        };
    
                        axios.get(apiURL)
                        .then(function (response) {
                            console.log(response.data.records)
                            self.colleges = response.data.records
                            self.apiLoaded = true

                        })
                        .catch(function (error) {
                            console.log(error);
                        })
                        // .finally( () => ...)

                    }   

                }

            });

        </script>

    </body>
</html>